.controlHeightPassword {
  position: relative;
  width: 100%;
  height: 50px;
  .inputTagfalse {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 300ms all ease-in-out;
  }
  .inputTagfocused {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    color: red;
  }
  .passwordIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: 300ms all ease-in-out;
  }
}
