.controlHeight {
  width: 100%;
  height: 84px;
  .inputTag {
    position: relative;
    .innerInputText {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      transition: 300ms all ease-in-out;
      &.focused {
        top: 0;
        transform: translateY(0);
      }
    }
  }
}
