.controlHeight {
  width: 100%;
  height: 84px;

  .inputControlSet {
    position: relative;

    .inputTagfalse {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      transition: 300ms all ease-in-out;
    }

    .inputTagfocused {
      position: absolute;
      top: -10px;
      left: 10px;
      background-color: white;
    }
  }
}