.searchModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.modalWrapper {
  position: relative;
  padding: 20px 30px 60px 30px;
}

.searchFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 400px;
  height: 60px;
  border-radius: 60px;
  border: none;
  background-color: #eee;
}

.searchInput {
  width: 100%;
  height: 60px;
  border-radius: 60px;
  border: none;
  padding: 10px 20px;
  background-color: transparent;

  &::placeholder {
    font-size: 16px;
  }
}

.searchSubmit {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 60px;
  margin-right: 6px;
  background-color: transparent;
  font-size: 24px;
}

.closeBtn {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.searchResult {
  margin-top: 40px;
}

.searchSuggestions {
  padding-top: 40px;

  h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0 40px 0;
  }

  ul li {
    display: block;
    font-size: 16px;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}
