@import 'src/styles/variables';

.main {
  position: relative;
  max-width: 1200px;
  margin: 140px auto;
  padding: $global-padding;

  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    background: white;

    .headerLeft {
      h1 {
        font-size: 25px;
        font-weight: normal;
      }
    }

    .headerRight {
      display: flex;
      align-items: center;
      justify-content: center;

      .headerRightFilter {
        button {
          display: flex;
          align-items: center;
          padding-right: 33px;
          border: none;
          background: none;
          font-size: 16px;

          span {
            margin-right: 15px;
          }
        }
      }

      .headerRightSort {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 15px;
          border: 1px solid lightgray;
          border-radius: 15px;
          background-color: white;
          list-style: none;
        }

        input[type='radio'] {
          position: absolute;
          left: -9999px;
          width: 0;
          height: 0;
        }

        input[type='radio'] + label {
          display: inline-block;
          position: relative;
          box-sizing: border-box;
          margin: 0;
          padding: 0.75em 1.5em;
          transition: border-color 0.15s ease-out, color 0.25s ease-out,
            background-color 0.15s ease-out, box-shadow 0.15s ease-out;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 0 0 0 black;
          font-size: 13px;
          line-height: 140%;
          text-align: center;
          cursor: pointer;
        }

        input[type='radio']:checked + label {
          z-index: 1;
          border-color: white;
          background-color: whitesmoke;
          color: black;
        }

        input[type='radio']:hover + label {
          color: lightgray;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background: none;
          font-size: 16px;

          span {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              padding-right: 15px;
            }
          }
        }

        .slideDrop {
          position: absolute;
          top: 40px;
          overflow: hidden;

          & > ul {
            animation: slideDropAnimation 0.4s ease;
          }
        }

        .slideDropdown {
          overflow: hidden;

          & > ul {
            animation: slideDropdownAnimation 0.4s ease;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
  .productTotal {
    display: flex;
    justify-content: center;

    .productAside {
      position: relative;
      padding-right: 30px;

      .productAsideAccordion {
        .contentPadding {
        }
      }
    }

    .productMain {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);

      .productMainPiece {
        display: flex;
        flex-direction: column;
        justify-content: start;

        .productMainPieceImg {
          width: 100%;
          height: 300px;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .productMainPieceProposal {
          display: flex;
          flex-direction: column;
          justify-content: left;
          margin-top: 10px;

          .proposalCategory {
            color: #9e3500;
            font-size: 12px;
          }

          div {
            font-weight: lighter;
          }

          .proposalGender {
            color: gray;
          }

          .proposalPrice {
            padding-top: 10px;
          }
        }
      }
    }
  }
}

@keyframes slideDropAnimation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDropdownAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
