.cartView {

  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: top;

  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    word-spacing: 1px;
  }
}

.cartBodyWrap {
  flex-basis: 66%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .cartItemFooter {
    width: 100%;

    p {
      font-size: large;
      line-height: 1.5;
      word-spacing: 2px;
    }
  }

  .cartItem {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cartItemWrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 150px;
        height: 150px;
      }

      .cartItemDesc {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        div {
          font-weight: 100;
          color: gray;
          margin-top: 15px;

          ul {
            color: black;
            font-weight: 250;
            font-size: 30px;

            svg {
              margin: 10px;
            }
          }
        }

        .itemHandler {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }

      .cartItemRightWrap {
        height: 100%;
        margin-left: auto;
      }
    }
  }
}

.cartSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;

  .cartSummaryDescWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;

    h4 {
      margin-bottom: 24px;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 15;
      margin-bottom: 15px;

      p {
        margin-right: 20px;
      }

      span {
        margin-left: 100px;
      }
    }

    .cartSummaryButton {
      button {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        text-align: center;
        text-decoration: none;
        background: rgb(17, 17, 17);
        color: rgb(255, 255, 255);
        width: 100%;
        padding: 18px 24px;
        border-radius: 30px;
        font-weight: 500;
        font-size: 16px;
        border: none;
      }
    }

    .hiddenTooltip {
      width: 250px;
      visibility: visible;
      opacity: 1;
      position: absolute;
      border-radius: 2px;
      background: rgb(88, 88, 88);
      padding: 16px;
      z-index: 7;
      font-size: 14px;
      line-height: 1.3;
      color: rgb(255, 255, 255);
      inset: 100% 50% auto auto;
      margin: 10px -20px auto auto;
      top: 70px;
      right: 0px;
      cursor: default
    }

  }

}