// div {
//   border: 1px solid black;
// }

.cartView {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: top;

  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }
}



.cartBodyWrap {
  // max-width: 66.6667%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 30px;

  .cartItemFooter {
    width: 100%;
  }



  .cartItem {
    width: 100%;

    .cartItemWrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 30px;


      img {

        width: 150px;
        height: 150px;
      }

      .cartItemDesc {
        display: flex;
        flex-direction: column;
        height: 100%;

        div {
          font-weight: 100;
          color: gray;
          margin-top: 15px;

          ul {
            color: black;
            font-weight: 250;
            font-size: 30px;
          }
        }

        .itemHandler {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }

      .cartItemRightWrap {
        display: flex;
        flex-direction: column;
        vertical-align: top;
        text-align: right;
        height: 100%;
      }
    }
  }
}

.cartSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;

  .cartSummaryDescWrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 15;
      margin-bottom: 15px;

      p {
        margin-right: 20px;
      }

      span {
        margin-left: 20px;
      }
    }

    .cartSummaryButton {
      button {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background: rgb(17, 17, 17);
        color: rgb(255, 255, 255);
        width: 100%;
        padding: 18px 24px;
        border-radius: 30px;
        font-weight: 500;
        font-size: 16px;
        border: none;
      }
    }
  }

}