

.cartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25px;

  &Wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    img {
      width: 150px;
      height: 150px;
    }

    .cartItemDesc {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: 10px;

      div {
        margin-top: 15px;
        color: gray;
        font-weight: 100;

        ul {
          color: black;
          font-size: 30px;
          font-weight: 250;

          svg {
            margin: 10px;
          }
        }
      }

      .itemHandler {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }

    .cartItemRightWrap {
      height: 100%;
      margin-left: auto;
    }
  }
}