.cartView {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  vertical-align: top;

  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    word-spacing: 1px;
  }
}

.cartBodyWrap {
  display: flex;
  flex-basis: 66%;
  flex-direction: column;
  justify-content: space-around;
}