.cartItemContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;

  img {
    width: 150px;
    height: 150px;
  }

  .cartItemDesc {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;

    select {
      border: none;
      color: gray
    }

    div {
      margin-top: 7px;
      color: gray;
      font-weight: 100;

      ul {
        color: black;
        font-size: 30px;
        font-weight: 250;

        svg {
          margin: 10px;
        }
      }
    }

    .itemHandler {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      div {
        margin-right: 10px;
      }
    }
  }

  .cartItemRightWrap {

    height: 100%;
    margin-left: auto;


  }
}

.cartItemFooter {
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1.5px solid lightgray;

  p {
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 2px;
  }
}