$flexMap: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  stretch: stretch,
  baseline: baseline,
);

@function getFlexValue($key) {
  @return map-get($flexMap, $key);
}

@mixin flexContainer($align-items: center, $justify-content: center) {
  display: flex;
  align-items: getFlexValue($align-items);
  justify-content: getFlexValue($justify-content);
}

@mixin positionCenterX($type: absolute) {
  @if ($type == fixed or $type == absolute) {
    position: $type;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin positionCenterY($type: absolute) {
  @if ($type == fixed or $type == absolute) {
    position: $type;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin positionCenter($type: absolute) {
  @if ($type == fixed or $type == absolute) {
    position: $type;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
