@mixin flexContainer($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin positionCentering {
  position: absolute;
  right: 50%;
  transform: translate(-50%, 0);
}
