@mixin flexContainer($align, $justify) {
  display: flex;

  @if ($align == start) {
    align-items: flex-start;
  }
  @if ($align == center) {
    align-items: center;
  }
  @if ($align == end) {
    align-items: flex-end;
  }
  @if ($align == stretch) {
    align-items: stretch;
  }
  @if ($justify == space-between) {
    justify-content: space-between;
  }
  @if ($justify == center) {
    justify-content: center;
  }
  @if ($justify == start) {
    justify-content: flex-start;
  }
  @if ($justify == end) {
    justify-content: flex-end;
  }
}

@mixin positionCentering {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
}
