@import '../../styles/mixin';
@import '../../styles/variables';

.paymentContainer {
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: $global-padding;
  .title {
    @include flexContainer;
    margin: 100px;
    font-size: 20px;
  }
  .shippingOptions {
    margin: auto;
    .optionText {
      margin-bottom: 40px;
      font-size: 20px;
    }

    .paymentInputContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .nameContainer {
        display: flex;
        margin-bottom: 26px;
        input {
          width: 228px;
          margin: 10px;
        }
      }
      .userInfoContainer {
        display: flex;
        margin-bottom: 26px;
        input {
          width: 228px;
          margin: 10px;
        }
      }
    }
  }
  .paymentbuttonContainer {
    display: flex;
    justify-content: end;
    width: 500px;
    .paymentStoragebutton {
      width: 120px;
      height: 39px;
      border: 1px solid #e5e5e5;
      border-radius: 40px;
      background-color: #e5e5e5;
      color: #757575;
      button {
        border: 0;
      }
    }
  }
}
