$global-padding: 0 30px;

.topHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  background-color: white;
}

.headerWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: $global-padding;
}

.navContainer {
  flex-shrink: 0;
}

.topLogo {
  position: static;
  z-index: 99;

  img {
    width: 180px;
  }
}

.nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  ul {
    li {
      display: inline-block;
      font-size: 18px;
      text-transform: uppercase;

      &::after {
        content: '';
        margin: 0 10px;
      }
    }
  }
}

.btnGroup {
  li {
    font-size: 30px;
    display: inline-block;

    &::after {
      content: '';
      margin: 0 8px;
    }

    path {
      color: black;
    }
  }
}
