$global-padding: 0 30px;

.topHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  background-color: white;
}

.headerWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: $global-padding;
}

.navContainer {
  flex-shrink: 0;
}

.topLogo {
  position: static;
  z-index: 99;
  font-size: 20px;
  font-weight: 700;
}

.nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  ul {
    li {
      display: inline-block;
      font-size: 18px;
      font-weight: 500;

      &::after {
        content: '';
        margin: 0 10px;
      }
    }
  }
}

.btnGroup {
  li {
    font-size: 30px;
    display: inline-block;

    &::after {
      content: '';
      margin: 0 8px;
    }

    path {
      color: black;
    }
  }
}

.searchModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.modalWrapper {
  position: relative;
  padding: 20px 30px 60px 30px;
}

.searchFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 400px;
  height: 60px;
  border-radius: 60px;
  border: none;
  background-color: #eee;
}

.searchInput {
  width: 100%;
  height: 60px;
  border-radius: 60px;
  border: none;
  padding: 10px 20px;
  background-color: transparent;

  &::placeholder {
    font-size: 16px;
  }
}

.searchSubmit {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 60px;
  margin-right: 6px;
  background-color: transparent;
  font-size: 24px;
}

.closeBtn {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.searchResult {
  margin-top: 40px;
}

.searchSuggestions {
  padding-top: 40px;

  h4 {
    font-size: 24px;
    margin: 20px 0 40px 0;
  }

  ul li {
    display: block;
    font-size: 16px;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}
